@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.login-card {
  z-index: 1;
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  border-radius: 20px !important;
  /* background: rgba(255, 255, 255, 0.1) !important; */
  backdrop-filter: blur(15px);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3) !important; */
  /* border: 1px solid rgba(255, 255, 255, 0.2) !important; */
}
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  background-image: url("../public/image/close-up-therapist-hand-massaging-woman-s-back-with-hot-towel-spa_23-2147939902.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Add a subtle animated background pattern */
.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 4px,
    transparent 1px
  );
  /* background-image: linear-gradient(to left, rgb(196, 161, 161), #764ba2); */
  background-size: 30px 30px;
  pointer-events: none;
  animation: move 8s linear infinite;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100px 100px;
  }
}

.font-normal{
   /* color :#5a67d8 !important; */
   color: aliceblue;
}

.css-1gtchvp-MuiPaper-root{
  background-color: transparent !important;
}

/* Button styling */
.signup-btn {
  background: linear-gradient(135deg, #667eea, #764ba2) !important;
  color: white !important;
  padding: 10px 0 !important;
  font-weight: 600 !important;
  transition: all 0.3s ease !important;
  border-radius: 10px !important;
}

.signup-btn:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #5a67d8, #6b46c1) !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
